.album{
  width: 50%;
  height: 300px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.album-thumbnail{
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.album-name{
  display: flex;
  justify-content: flex-end;

}
